* {
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body {
  height: 100%;
}

.main-container {
  min-height: 100%;
  width: 80%;
  margin: 0 auto;
  background-color: #b796eb;
  padding: 20px;
  font-size: larger;
}

h1 {
  margin-bottom: 20px;
  text-align: center;
  background: linear-gradient(90deg,rgba(163.197,225,1)0%,rgba(126,126,222,1)50%,rgba(0,212,255,1)100%);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

main {
  text-align: center;
  padding: 20px;
}
label, input, button {
  display: block;
  margin: 10px auto;
}

@media (min-width:768px) {
  .main-container {
    width: 60%;
  }
}
