*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}
body{
    height: 100vh; 
    width: 100vw;  
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.p{
    text-align: center;
}

p, label {
    font-weight: 600;
    font-size: larger;
    color: white;
    background-color: black;
}

button{
    padding: 7px;
    outline: none;
    font-weight: 900;
    font-size: larger;
}

.hide {
    display: none;
}

label, input {
    display: block;
    margin: 20px 0;
}



